{% extends 'base.html' %} {% block title %}Restaurants{% endblock %} {% block
content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>

      <table class="table table-dark table-hover">
        <thead>
          <tr>
            {% for element in cafes[0] %}
            <th scope="col">{{ element }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in cafes[1:] %}
          <tr>
            {% for element in row %} {% if loop.index0 == 1 %}
            <td scope="row">
              <a href="{{ element }}" target="_blank">Maps Link</a>
            </td>
            {% else %}
            <td scope="row">{{ element }}</td>
            {% endif %} {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
